#home-page {
  .home {
    /*width: 100%;
    min-height: 75vh;
    margin-top: -15px;
    background: url(https://store.borgandoverstrom.com/site/holding/holding-bg.jpg) 50% 0%;
    store-band.band.band-med {
      background-color: red;
    }*/
  } 
}



